h1 {
    background-color: white;
    color: black;
}
header {
    background: orange;
    padding: 10px;
    margin: 10px;
}
body {
    background-color: blue;
    color: white;
}
.construction {
    background-image: repeating-linear-gradient(45deg, black, black 30px, yellow 30px, yellow 60px);
}