body {
    background-color: lightcoral;
}

header {
    background-color: #dddddd;
}
h1 {
    font-weight: bold;
}
nav {
    background-color: khaki;
}

ul {
    list-style-type: none;
}

li {
    /* display: inline-block; */
    margin-left: 10px;
}

section {
    background-color: darkgrey;
}

/* .background-image {
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    clear: both;
    height: 466px;
    width: 100%;
    background-image: radial-gradient(transparent, #999999);
} */

article {
    background-color: chartreuse;
}

p {
    margin: 10px;
}
aside {
    background-color: orange;
}
footer {
    background-color: crimson;
}