.portfolio-pic {
    height: 200px;
    width: auto;
}

.portfolio-pic img {
    max-width: 400px;
}

.portfolio-text {
    height: 100px;
    width: auto;
}

.headshot {
    height: 100px;
    width: auto;
}