nav {
  background-color: #BFC0D9;
}

.nav-list {
  margin-top: 1rem;
  display: inline-flex;
  list-style: none;
}

.nav-container {
  text-align: center;
}

.nav-link {
  text-decoration: none;
  color: black;
  border-radius: 4px 4px 0px 0px;
}

.nav-item {
  margin: 0.5rem;
}

.nav-active {
  border-bottom: 5px solid limegreen;
  border-radius: 0 0 4px 4px;
}