.button {
  background-color: #BFC0D9 !important;
}

.repo-card {
  background-color: #7b7c8c;
  box-shadow: 0px 0px 4px 4px #999;
  max-height: 500px;
  margin-bottom: 1rem;
  overflow: hidden;
  padding: 2rem;
  border-radius: 1rem;
  justify-content: center;
}

.repo-card:hover {
  box-shadow: 0px 0px 4px 4px #eee;
}

.repo-text {
  height: 4.5em;
  overflow-y: auto;
}
.repo-image-container {
  max-height: 250px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.repo-image {
  border: 1px solid #999;
  max-height: 450px;
}